<div>
  <fieldset>
    <label for="username">Username: </label>
    <input type="text" id="username" placeholder="Username">
  </fieldset>
  <fieldset>
    <label for="email">Email: </label>
    <input type="text" id="email" placeholder="Email">
  </fieldset>
  <fieldset>
    <label for="password">Password: </label>
    <input type="password" id="password">
  </fieldset>
  <fieldset>
    <label for="verify-password">Verify Password: </label>
    <input type="password" id="verify-password">
  </fieldset>
</div>
